<footer class="site-footer">

  <div class="wrapper">
    <div class="credits">
      Zihao Lu©2017
    </div>
    <div class="social-links">
      <a class="social-link social-github" href="https://github.com/{{ site.github_username }}">
        <i class="icon-github"></i>
      </a>
      <a class="social-link social-twitter" href="https://behance.net/{{ site.behance_username }}">
        <i class="icon-behance"></i>
      </a>
      <a class="social-link social-dribbble" href="https://dribbble.com/{{ site.dribbble_username }}">
        <i class="icon-dribbble"></i>
      </a>
      <a class="social-link social-linkedin" href="https://linkedin.com/{{ site.linkedin_username }}">
        <i class="icon-linkedin"></i>
      </a>
    </div>
  </div>

</footer>
