@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('assets/font/GenRyuMinJP-R/result.css?family=GenRyuMin+JP:wght@400&display=swap');
@import url('assets/font/GenRyuMinJP-B/result.css?family=GenRyuMin+JP:wght@700&display=swap');
@import url('assets/font/GenRyuMinTW-R/result.css?family=GenRyuMin+TW:wght@400&display=swap');
@import url('assets/font/GenRyuMinTW-B/result.css?family=GenRyuMin+TW:wght@700&display=swap');

@font-face {
  font-family: "Kagami SC";
  src: local("Songti SC Regular"), local(STSongti-SC-Regular);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kagami SC";
  src: local("Songti SC Bold"), local(STSongti-SC-Bold);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Kagami TC";
  src: local("Songti TC Regular"), local(STSongti-TC-Regular);
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Kagami TC";
  src: local("Songti TC Bold"), local(STSongti-TC-Bold);
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Kagami Emoji";
  src: local("Apple Color Emoji"), // iOS & OS X 10.7
       local("Segoe UI Emoji"),    // Windows 8.1
       local("Segoe UI Symbol"),   // Windows 7
       local("Noto Color Emoji"),  // Android & Linux
       local("Android Emoji");     // Linux
}

@mixin font-sans {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Kagami Emoji";
}

@mixin font-serif($font-family-fallback: serif) {
  font-family: "Vollkorn", $font-family-fallback, "Kagami Emoji";
}

@mixin font-serif-zh-Hans($font-family-fallback: serif) {
  font-family: "Vollkorn", "GenRyuMin JP", Georgia, "Nimbus Roman No9 L", "Kagami SC", "Noto Serif CJK SC", "Source Han Serif SC", "Source Han Serif CN", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, $font-family-fallback, "Kagami Emoji";
}

@mixin font-serif-zh-Hant($font-family-fallback: serif) {
  font-family: "Vollkorn", "GenRyuMin TW", Georgia, "Nimbus Roman No9 L", "Kagami TC", "Noto Serif CJK TC", "Source Han Serif TC", "Source Han Serif TW", STSong, "AR PL New Sung", "AR PL SungtiL GB", NSimSun, SimSun, "TW\-Sung", "WenQuanYi Bitmap Song", "AR PL UMing CN", "AR PL UMing HK", "AR PL UMing TW", "AR PL UMing TW MBE", PMingLiU, MingLiU, $font-family-fallback, "Kagami Emoji";
}

@mixin font-serif-ja($font-family-fallback: serif) {
  font-family: "Vollkorn", "GenRyuMin JP", "YuMincho", $font-family-fallback, "Kagami Emoji";
}

@mixin font-monospace($font-family-fallback: monospace) {
  font-family: Menlo, Consolas, Monaco, Courier, $font-family-fallback;
}

@function font-size($factor: 1.0) {
  @return $font-size * $factor;
}
