@import url('https://fonts.googleapis.com/css?family=Crimson+Text:400,700|Press+Start+2P');

@font-face {
  font-family: "Kagami SC";
  font-weight: normal;
  font-style: normal;
  src: url('https://zihaolu.github.io/assets/font/SourceHanSerifCN-Regular.woff2') format('woff2'),
    url('https://zihaolu.github.io/assets/font/SourceHanSerifCN-Regular.woff') format('woff'),
    url('https://zihaolu.github.io/assets/font/SourceHanSerifCN-Regular.otf') format('opentype');
}

@font-face {
  font-family: "Kagami SC";
  font-weight: bold;
  font-style: normal;
  src: url('https://zihaolu.github.io/assets/font/SourceHanSerifCN-Bold.woff2') format('woff2'),
    url('https://zihaolu.github.io/assets/font/SourceHanSerifCN-Bold.woff') format('woff'),
    url('https://zihaolu.github.io/assets/font/SourceHanSerifCN-Bold.otf') format('opentype');
}

@font-face {
  font-family: "Kagami TC";
  font-weight: normal;
  font-style: normal;
  src: url('https://zihaolu.github.io/assets/font/SourceHanSerifTW-Regular.woff2') format('woff2'),
    url('https://zihaolu.github.io/assets/font/SourceHanSerifTW-Regular.woff') format('woff'),
    url('https://zihaolu.github.io/assets/font/SourceHanSerifTW-Regular.otf') format('opentype');
}

@font-face {
  font-family: "Kagami TC";
  font-weight: bold;
  font-style: normal;
  src: url('https://zihaolu.github.io/assets/font/SourceHanSerifTW-Bold.woff2') format('woff2'),
    url('https://zihaolu.github.io/assets/font/SourceHanSerifTW-Bold.woff') format('woff'),
    url('https://zihaolu.github.io/assets/font/SourceHanSerifTW-Bold.otf') format('opentype');
}

@font-face {
  font-family: "Kagami Emoji";
  src: local("Apple Color Emoji"), // iOS & OS X 10.7
       local("Segoe UI Emoji"),    // Windows 8.1
       local("Segoe UI Symbol"),   // Windows 7
       local("Noto Color Emoji"),  // Android & Linux
       local("Android Emoji");     // Linux
}

@mixin font-sans {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Kagami Emoji";
}

@mixin font-serif($font-family-fallback: serif) {
  font-family: "Crimson Text", $font-family-fallback, "Kagami Emoji";
}

@mixin font-serif-zh-Hans($font-family-fallback: sans-serif) {
  font-family: "Kagami SC", "Crimson Text",  $font-family-fallback, "Kagami Emoji";
}

@mixin font-serif-zh-Hant($font-family-fallback: sans-serif) {
  font-family: "Kagami TC", "Crimson Text",  $font-family-fallback, "Kagami Emoji";
}

@mixin font-serif-ja($font-family-fallback: sans-serif) {
  font-family: "YuMincho", "Crimson Text", $font-family-fallback, "Kagami Emoji";
}

@mixin font-monospace($font-family-fallback: monospace) {
  font-family: Courier, Monaco, $font-family-fallback;
}

@function font-size($factor: 1.0) {
  @return $font-size * $factor;
}
